<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= current_page.data.title || 'Middleman' %></title>
    <%= stylesheet_link_tag 'main' %>
  </head>
  <body>
    <div id="container">
      <header class="header">
        <div class="wrapper">
          <div class="header__logo">
            <%= File.read('source/images/terminal.svg') %>
          </div>

          <h1 class="header__title"> <%= current_page.data.title || 'Middleman' %></h1>
        </div>
      </header>

      <main>
        <div class="wrapper">
          <%= yield %>
        </div>
      </main>
    </div>
  </body>
</html>
