<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= current_page.data.title || 'Middleman' %></title>
    <%= stylesheet_link_tag webpack_asset_path('main.css') %>
  </head>
  <body>
    <div id="container">
      <section class="navigation">
        <div class="wrapper navigation__inner">
          <div class="navigation__logo">
            <a href="/" class="navigation__logo__link">
              <%= File.read('source/images/terminal.svg') %>
            </a>
          </div>

          <nav class="navigation">
            <ul class="navigation__items">
              <%= main_navigation_item 'Home', to: '/index.html' %>
              <%= main_navigation_item 'Profile', to: '/profile/index.html' %>
              <%= main_navigation_item 'Open source', to: '/open-source/index.html'  %>
            </ul>
          </nav>
        </div>
      </section>

      <header class="header">
        <div class="wrapper">
          <h1 class="header__title"> <%= current_page.data.title || 'Martijn Versluis' %></h1>
        </div>
      </header>

      <main>
        <div class="wrapper">
          <%= yield %>
        </div>
      </main>
    </div>
  </body>
</html>
