---
title: Martijn Versluis - profile
---

<div class="column-layout">
  <div class="column-layout__sidebar tile picture"></div>

  <section class="column-layout__main tile">
    <div class="tile__inner">
      <ul class="timeline">
        <% Project.from_data(data.projects).each do |project| %>
          <li class="timeline__entry">
            <time class="timeline__entry__date"><%= project.start_year %></time>

            <section class="timeline__entry__content">
              <h2 class="timeline__entry__title">
                <%= project.company %>
                (<%= link_to 'website', project.company_url, target: '_blank' %>)
              </h2>

              <div class="timeline__entry__description">
                <%= render_markdown(project.project) %>
              </div>

              <ul class="timeline__entry__labels">
                <% project.technologies.each do |technology| %>
                  <li class="timeline__entry__label" style="background-color: <%= pastel_colour(technology) %>"><%= technology %></li>
                <% end %>
              </ul>
            </section>
          </li>
        <% end %>
      </ul>
    </div>
  </section>
</div>
